@use "../abstracts/variables" as *;

.recipes {
  padding: 48px 0;

  &__title {
    margin-bottom: $spacing-lg;
    font-size: $font-size-2xl;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: $spacing-lg;
  }
}

@media (max-width: $breakpoint-md) {
  .recipes {
    padding: $spacing-lg 0;

    &__title {
      margin-bottom: $spacing-md;
      font-size: $font-size-xs;
    }

    &__list {
      gap: $spacing-md;
    }
  }
}
